<% wrap_layout :layout do %>
  <article class="h-entry">
    <header>
      <h1 class="p-name"><%= current_page.data.title %></h1>
      <% if current_page.data.description %>
        <h2 class="p-summary"><%= current_page.data.description %></h2>
      <% end %>
    </header>

    <section class="e-content">
      <%= yield %>
    </section>

    <footer>
      <p class="metadata">
        Published by <a class="p-author h-card" href="https://jamesmead.org/">James Mead</a> on <a class="u-url" href="<%= absolute_url(friendly_url(current_page)) %>"><time class="dt-published" datetime="<%= current_page.data.created_at.iso8601 %>"><%= current_page.data.created_at.to_s(:long) %></time></a>
      </p>
      <%= partial 'webmentions' %>
    </footer>
  </article>
<% end %>
