<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= title(current_page) %></title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <%- if current_page.data.description -%>
    <meta name="description" content="<%= CGI.escapeHTML(current_page.data.description) %>" />
    <%- end -%>
    <%- if current_page.data.keywords -%>
    <meta name="keywords" content="<%= current_page.data.keywords %>" />
    <%- end -%>
    <meta name="author" content= "James Mead" />

    <meta name="verify-v1" content="H0rIfyqCDW+br6ieZtuZ+Hnt3ii3FpF22qFYjZmO+3E=" />
    <meta name="y_key" content="5f5b0de20991e0c2" />
    <meta name="msvalidate.01" content="5D5476B4F9F70AAFE14D519093E3FFA8" />

    <link rel="shortcut icon" href="/images/favicon.gif" />

    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssfonts/cssfonts-min.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssbase/cssbase-min.css">

    <link rel="stylesheet" type="text/css" href="/style/site.css" />
    <link rel="stylesheet" href="/style/prettify/prettify.css" type="text/css" />
    <script type="text/javascript" src="/javascripts/prettify/prettify.js"></script>

    <link rel="alternate" type="application/atom+xml" title="Atom" href="<%= config[:feed_url] %>" />

    <%- pages = articles.reverse -%>
    <%- if index = pages.index(current_page) -%>
      <%- if (index > 0) && (prev_page = pages[index - 1]) -%>
    <link rel="prev" href="<%= friendly_url(prev_page) %>" />
      <%- end -%>
      <%- if next_page = pages[index + 1] -%>
    <link rel="next" href="<%= friendly_url(next_page) %>" />
      <%- end -%>
    <link rel="first" href="<%= friendly_url(pages.first) %>" />
    <link rel="last" href="<%= friendly_url(pages.last) %>" />
    <link rel="index" href="/blog" />
    <%- end -%>

    <%= partial 'analytics' %>

  </head>
  <body onload="prettyPrint()">
    <div id="doc">
      <div id="hd">
        <a href="/" title="Home">Home</a>
        &middot;
        <a href="/blog/" title="Blog">Blog</a>
        &middot;
        <a href="/talks/" title="Talks">Talks</a>
        &middot;
        <a href="/projects/" title="Projects">Projects</a>
      </div>

      <div id="bd">
        <h1><%= current_page.data.title %></h1>

        <%= yield %>

        <div id="navigation">
          <% pages = articles.reverse %>
          <% if index = pages.index(current_page) %>
            <% if (index > 0) && (prev_page = pages[index - 1]) %>
              <%= link_to "&lt; #{prev_page.data.title}", friendly_url(prev_page), :class => "previous" %>
            <% end %>
            <% if next_page = pages[index + 1] %>
              <%= link_to "#{next_page.data.title} &gt;", friendly_url(next_page), :class => "next" %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div id="ft">
        <a href="/contact" title="Contact">Contact</a>
        &middot;
        <a href="/history" title="History">History</a>
        &middot;
        <a href="/colophon" title="Colophon">Colophon</a>
        &middot;
        <a href="/links" title="Links">Links</a>
      </div>
    </div>
  </body>
</html>
